@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: Mulish, sans-serif;
  background: #17171e;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
h1,
h2 {
  color: white;
}

/*Desktop Styles*/

.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.header {
  padding: 0 70px 0 32px;
  margin-top: 20px;
  display: flex;
  width: 100%;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
}
.notification-black {
  top: 9px;
  left: -41px;
  position: absolute;
}

.header-actions button {
  padding-top: 4px;
}
.logo {
  padding: 4px 0 0 0;
  display: flex;
  align-items: center;
  gap: 27px;
}
.search-bar {
  position: relative;
  width: 46%;
  height: 44px;
  margin-right: auto;
}
.search-bar > input {
  border: none;
  padding: 21px 20px 20px 23px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff68;
  border-radius: 800px;
  background: #2e2e37;
  width: 99.3%;
  height: 100%;
}
.search {
  position: absolute;
  right: 24px;
  margin: 13px 0;
}
.header-actions {
  display: flex;
  gap: 50px;
}
.header-actions button:nth-child(3) {
  position: relative;
}
.notifications-count {
  border-radius: 50%;
  right: -5.3px;
  top: 1px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2.2px 5.7px;
  position: absolute;
}
.profile-pic {
  border-radius: 100%;
}
.main-wrapper {
  display: flex;
  width: 100%;
}
.sidebar {
  height: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
}
.sidebar a,
.sidebar button {
  color: #ffffff5e;
  font-size: 16px;
}
.dropdown-button {
  margin: 0 0 0 2px;
  letter-spacing: 0.3px;
  display: flex;
  gap: 16px;
}
.sidebar-nav {
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: flex-start;
}
.sidebar-main-nav {
  gap: 29px !important;
  margin-top: 30px;
}
.sidebar-nav-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.nav-element {
  display: flex;
  align-items: center;
  gap: 14px;
}
.active-nav-element a {
  color: #ff0000;
}
.subscriptions-section {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.subscriptions-section h2 {
  font-size: 18px;
}
.setting {
  letter-spacing: 0.3px;
  gap: 12px !important;
  margin: 49px 0 0 34px;
}
.subscriptions-list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.subscriptions-list img {
  border-radius: 500px;
}
.subscriptions-element {
  display: flex;
  align-items: center;
  gap: 10px;
}

main {
  width: 100%;
  flex: 1;
  margin: 0 66px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.channel-cover {
  width: 100%;
  overflow: hidden;
}
.channel-cover img {
  border-radius: 14px;
  width: 1595px;
  height: 280px;
  object-fit: cover;
  display: block;
}
.channel-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 0 0;
}
.channel-profile {
  display: flex;
  align-items: center;
  gap: 14px;
}
.channel-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.channel-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.channel-name {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}
.channel-subs {
  color: rgba(194, 194, 194, 1);
  font-size: 13px;
  font-weight: 400;
}
.channel-subscribe-btn {
  font-family: "Mulish", sans-serif;
  position: relative;
  background: #ff0000;
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  padding: 9.8px 20.4px;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  margin: 22px 89px 0 auto;
}
.channel-subscribe-btn-channel {
  margin: -40px 4px 0 auto;
}
.category-margin {
  gap: 29.5px !important;
  margin: 13px 0 0 0;
}
.channel-subscribe-btn:hover {
  background: #d90000;
}
.channel-content-row {
  margin: 12px 0 0 0;
  display: flex;
  gap: 40px;
}
.channel-content-main {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.channel-tabs {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 20px;
  padding-bottom: 2px;
}
.channel-tabs ul {
  display: flex;
  gap: 70px;
  list-style: none;
}
.channel-tabs li {
  font-size: 18px;
  font-weight: 400;
  padding: 8px 0;
  cursor: pointer;
  border-bottom: 2.5px solid transparent;
  transition: border 0.2s, color 0.2s;
}
.channel-tabs li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}
.channel-tabs li.active {
  position: relative;
}
.channel-tabs li.active a {
  color: #ff0000;
}
.channel-tabs li.active::after {
  content: "";
  display: block;
  height: 2px;
  width: 60px;
  bottom: 3px;
  left: -4px;
  background: red;
  position: absolute;
}
.channel-search-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 8px;
}
.featured-video {
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  min-height: 200px;
}
.featured-thumb {
  max-width: 540px;
  min-height: 230px;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
  flex-shrink: 0;
}
.thumb-wrapper {
  width: 90%;
  position: relative;
  height: auto;
}
.featured-info {
  padding: 18px 164px 24px 32px;
  display: flex;
  flex-direction: column;
}
.featured-title {
  line-height: 34px;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 9px;
}
.featured-desc {
  line-height: 22px;
  font-weight: 400;
  color: #ffffffb0;
  font-size: 16px;
  margin-bottom: 31px;
}
.featured-meta {
  line-height: 22px;
  font-weight: 400;
  color: #ffffff5e;
  font-size: 16px;
}
.featured-time {
  border-radius: 12px !important;
  bottom: 20px;
  position: absolute;
  right: 10px;
  background: rgba(0, 0, 0, 0.301);
  color: #fff;
  font-size: 14px;
  border-radius: 6px;
  padding: 3.2px 9.3px;
}
.channel-main-content {
  margin: 51px 0 0 0;
  flex: 1;
  min-width: 0;
}
.channel-videos-info {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 20px;
  position: relative;
}
.videos-controls {
  position: absolute;
  display: flex;
  gap: 9px;
  top: 24px;
  right: -16px;
}
.channel-video-controls {
  top: 5px;
  right: -16px;
}
.recommended-controls {
  top: 5px;
}
.rec-channels-controls {
  top: 28px;
}
.channel-videos-info {
  margin-right: 100px;
}
.channel-section-title {
  margin-bottom: 30px;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}
.channel-page-cst {
  margin: 0 0 0 5px;
}
.channel-videos {
  width: 100%;
  display: flex;
  gap: 40px;
  align-items: center;
}
.category-margin li.channel-video-card:first-of-type .video-meta-edge {
  margin-left: -5px !important;
}
.rec-channel-videos {
  margin-top: -5px;
}
.channel-page-rcv {
  margin: 30.7px 0 0 0;
}
.channel-page-rcv .video-title {
  margin: 5.5px 0 5px 0px;
}
.recommended-channel-videos {
  gap: 36.5px;
}
.channel-video-card {
  flex-shrink: 0;
  border-radius: 16px;
  width: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 18px;
}
.channel-video-card img {
  object-position: left;
  width: 100%;
  border-radius: 12px;
  height: 150px;
  object-fit: contain;
}
.video-time {
  border-radius: 12px !important;
  bottom: 14px;
  position: absolute;
  right: 10px;
  background: rgba(0, 0, 0, 0.301);
  color: #fff;
  font-size: 14px;
  border-radius: 6px;
  padding: 3.2px 9.3px;
}
.img-wrapper {
  width: 100%;
  position: relative;
}
.video-title {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin: 6px 0 5px 0px;
}
.video-meta {
  font-weight: 400;
  color: #ffffff5e;
  font-size: 13px;
  margin: 0 0 12px 0;
}
.video-meta-edge {
  margin-left: auto;
}
.meta-detail {
  display: flex;
  gap: 10px;
}
.channel-recommend {
  margin: 10px 15px 0 0;
  width: 260px;
  min-width: 200px;
}
.recommend-title {
  color: #c2c2c2;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.recommend-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.recommend-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.recommend-item img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.recommend-name {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

/*Mobile Styles*/
.mobile-header,
.mobile-nav {
  display: none;
}
.mobile-cover-img {
  display: none !important;
}

@media (max-width: 900px) {
  body {
    padding-bottom: 70px;
  }

  .header,
  .sidebar,
  .featured-video,
  .channel-recommend,
  .channel-section-title,
  .videos-controls {
    display: none;
  }

  .mobile-header {
    display: flex;
    align-items: center;
    padding: 12px 16px 18px 16px;
    background-color: #17171e;
  }
  .mobile-logo-wrapper {
    display: flex;
  }
  .mobile-header-logo {
    flex-shrink: 0;
  }

  .mobile-header-logo img {
    height: 25px;
  }

  .mobile-header-title {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1.5px 10px;
  }

  .mobile-header-actions {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    margin-left: auto;
  }
  .mobile-channe-mha {
    margin-right: 4px;
    gap: 45px;
  }

  .main-wrapper {
    display: block;
  }

  .channel-videos {
    gap: 0;
    flex-direction: column;
  }
  .video-title {
    margin: 6px 0 4px 0px;
  }
  .channel-video-card {
    width: 90%;
  }
  .channel-video-card img {
    object-fit: cover;
  }
  .channel-name {
    font-size: 20px;
    font-weight: 700;
  }
  main {
    margin: 0;
    padding: 0;
    gap: 0;
  }

  .channel-cover {
    height: 120px;
    border-radius: 0;
    margin-bottom: 0;
  }

  .channel-cover img {
    width: 100%;
    height: 100px;
    border-radius: 0;
  }

  .channel-header-row {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px;
    margin-top: -54px;
    gap: 16px;
  }

  .channel-profile {
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }

  .channel-avatar {
    width: 70px;
    height: 70px;
  }
  .channel-info {
    gap: 4px;
  }
  .channel-tabs li {
    font-size: 14px;
    font-weight: 400;
  }
  .channel-tabs li:nth-child(1) {
    position: relative;
  }
  .channel-tabs li:nth-child(1)::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    position: absolute;
    background: red;
    bottom: 4px;
    right: -7px;
  }
  .channel-tabs li.active {
    border: none;
  }
  .notification-black {
    display: none;
  }
  .channel-subscribe-btn {
    margin: 4px 0 0 0 !important;
    width: 120px;
    text-align: center;
    padding: 9.2px 0px;
    font-size: 12px;
    font-weight: 400;
  }
  .channel-subs {
    font-size: 12px;
  }
  .channel-search-btn {
    display: none;
  }
  .desktop-cover-img {
    display: none !important;
  }
  .mobile-cover-img {
    display: block !important;
  }

  .channel-tabs {
    justify-content: space-between;
    padding: 0 16px;
    margin-top: 10px;
    position: relative;
    margin-bottom: 11px;
  }

  .channel-main-content,
  .channel-page-rcv {
    margin: 0.5px 0 0 0;
  }
  .channel-page-rcv .video-title {
    margin: 3.5px 0 5px 0px;
  }

  .channel-tabs ul {
    gap: 41px;
    width: 100%;
    padding-right: 30px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .channel-tabs ul::-webkit-scrollbar {
    display: none;
  }

  .channel-tabs ul::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("assets/rightArrow.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 29px;
    top: 52%;
    transform: translateY(-50%);
  }

  .channel-tabs li:nth-child(n + 4) {
    display: none;
  }

  .mobile-nav {
    gap: 33px;
    padding: 0px 24px 0 24px;
    align-items: flex-end;
    height: 61px;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(23, 23, 30, 1);
    border-top: 1px solid rgba(216, 216, 216, 0.5);
  }
  .mobile-nav .mobile-nav-item:nth-child(1) {
    color: red;
  }
  .mobile-nav-chn {
    color: rgba(255, 255, 255, 0.4) !important;
  }
  .mobile-nav .mobile-nav-item:nth-child(2) {
    margin: 0 0 11px 13px;
  }

  .mobile-nav-item {
    margin: 0 0 11px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: #909090;
    font-size: 10px;
    text-decoration: none;
    font-weight: 400;
  }

  .mobile-nav-item.active {
    color: #fff;
  }

  .mobile-nav-item img {
    width: 20px;
    height: 20px;
  }

  .mobile-nav-item.active img {
    filter: brightness(0) invert(1);
  }
}
@media (max-width: 1420px) {
  .featured-video {
    flex-wrap: wrap;
  }
}
@media (max-width: 1300px) {
  .channel-tabs ul li:nth-child(4) {
    display: none;
  }
  .channel-tabs ul li:nth-child(5) {
    display: none;
  }
  .channel-tabs ul li:nth-child(6) {
    display: none;
  }
}

.hint {
  color: #c2c2c2;
}

.channel-wrapper {
  gap: 30px;
}
.channel-sidebar {
  margin: 20px 0 0 0;
}
.channel-main {
  gap: 0;
}
