.channel-videos-info{
    align-items: center;
}
.category-image{
    border-radius: 50%;
}
.category-hint{
    color: #C2C2C2;
}
.channel-subscribe-btn{
    margin-left: auto;
}
.channel-section-title{
    margin-bottom: 0;
}
.recommended-channel-category{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.channel-author{
    margin-right: auto;
}

.recommended-video-card{
    max-width: 550px;
    min-width: 400px;
    width: 34%;
}
.recommended-video-card img{
    width: 100%;
    height: auto;
    max-height: 250px;
}
.recommended-video-time{
    top: 65%;
}
.channel-title-meta{
    margin-left: auto;
}
.video-info{
    width: 100%;
}
.video-meta{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
